<section class="about">
    <div class="container about-container">
        <div class="about-box">
        <h2 class="about-title">About us</h2>
        <h3 class="about-subtitle">Our сraftsmanship: сreating unique handmade furniture</h3>
        <p class="about-text">Discover the inspiration behind our modern and minimalist designs, and see how we bring them to life through our skilled craftsmanship.</p>
        <ul class="about-list">
            <li class="about-list-item">
                <span class="about-list-figure">5+</span>
                <p class="about-list-text">Years of experience creating handcrafted furniture</p>
            </li>
            <li class="about-list-item">
                <span class="about-list-figure">100%</span>
                <p class="about-list-text">Sustainably sourced materials used in all of our furniture </p>
            </li>
            <li class="about-list-item">
                <span class="about-list-figure">500+</span>
                <p class="about-list-text">Unique furniture designs crafted by our skilled artisans</p>
            </li>
        </ul>
        </div>
        <div class="img-box">
            <picture>
                    <source srcset="../img/destop-white-sofa-1x.jpg 1x, ../img/destop-white-sofa-2x.jpg 2x" media="(min-width:1320px)"/>
                    <source srcset="../img/tablet-white-sofa-1x.jpg 1x, ../img/tablet-white-sofa-2x.jpg 2x" media="(min-width:700px)"/>
                    <source srcset="../img/phone-white-sofa-1x.jpg 1x, ../img/phone-white-sofa-2x.jpg 2x" media="(min-width:340px)"/>
                    <img src="../img/destop-white-sofa-1x.jpg" alt="sofa">
                </picture>
        
        </div>
    </div>
</section>