<section class="bestsellers">
    <div class="container">
        <h2 class="section-name">Bestsellers</h2>
        <div class="pictures-box">
            <picture>
            <source srcset="./img/destop-bed-1x.jpg 1x, ./img/destop-bed-2x.jpg 2x" media="(min-width:1320px)"/>
            <source srcset="./img/tablet-bed-1x.jpg 1x, ./img/tablet-bed-2x.jpg 2x" media="(min-width:700px)"/>
            <source srcset="./img/phone-bed-1x.jpg 1x, ./img/phone-bed-2x.jpg 2x" media="(min-width:340px)"/>
            <img src="./img/destop-bed-1x.jpg" alt="bed" />
            </picture>
            <p class="pictures-text">The modern platform bed</p>
            <span class="price">750$</span>
        </div>
        <ul class="price-list">
            <li class="price-list-item">
                <picture>
                <source srcset="./img/destop-room-1x.jpg 1x, ./img/destop-room-2x.jpg 2x" media="(min-width:1320px)"/>
            <source srcset="./img/table-room-1x.jpg 1x, ./img/table-room-2x.jpg 2x" media="(min-width:700px)"/>
            <source srcset="./img/phone-room-1x.jpg 1x, ./img/phone-room-2x.jpg 2x" media="(min-width:340px)"/>
            <img src="./img/destop-room-1x.jpg" alt="room"/>
                </picture>
                <p class="pictures-text">The Cozy Lounge Chair</p>
                <span class="price">230$</span>
            </li>
            <li class="price-list-item">
                <picture>
                    <source srcset="./img/destop-office-1x.jpg 1x, ./img/destop-office-2x.jpg 2x" media="(min-width:1320px)"/>
            <source srcset="./img/tablet-office-1x.jpg 1x, ./img/tablet-office-2x.jpg 2x" media="(min-width:700px)"/>
            <source srcset="./img/phone-office-1x.jpg 1x, ./img/phone-office-2x.jpg 2x" media="(min-width:340px)"/>
            <img src="./img/destop-office-1x.jpg" alt="office"/>
                </picture>
                <p class="pictures-text">The industrial accent chair</p>
                <span class="price">250$</span>
            </li>
            <li class="price-list-item">
                <picture> 
                    <source srcset="./img/destop-closet-1x.jpg 1x, ./img/destop-closet-2x.jpg 2x" media="(min-width:1320px)"/>
            <source srcset="./img/tablet-closet-1x.jpg 1x, ./img/tablet-closet-2x.jpg 2x" media="(min-width:700px)"/>
            <source srcset="./img/phone-closet-1x.jpg 1x, ./img/phone-closet-2x.jpg 2x" media="(min-width:340px)"/>
            <img src="./img/destop-closet-1x.jpg" alt="closet"/>
        </picture>
                <p class="pictures-text">The sleek stand</p>
                <span class="price">300$</span>
            </li>
            <li class="price-list-item">
                <picture> 
                    <source srcset="./img/destop-grau-sofa-1x.jpg 1x, ./img/destop-grau-sofa-2x.jpg 2x" media="(min-width:1320px)"/>
            <source srcset="./img/tablet-grau-sofa-1x.jpg 1x, ./img/tablet-grau-sofa-2x.jpg 2x" media="(min-width:700px)"/>
            <img src="./img/destop-grau-sofa-1x.jpg" alt="grau sofe"/>
        </picture>
                <p class="pictures-text">The minimalist sofa</p>
                <span class="price">650$</span>
            </li>
        </ul>
    </div>
</section>