<section class="clients">
    <div class="container clients-box">
        <h2 class="reviews-title">Clients reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-list-item">
            <div class="reviewer-container">
                <picture>
                <source srcset="./img/destop-comment-alexanda-1x.png 1x, ./img/destop-comment-alexanda-2x.png 2x" media="(min-width:1350px)"/>
                    <source srcset="./img/tablet-comment-alexanda-1x.png 1x, ./img/tablet-comment-alexanda-2x.png 2x" media="(min-width:750px)"/>
                    <source srcset="./img/phone-comment-alexanda-1x.png 1x, ./img/phone-comment-alexanda-2x.png 2x" media="(min-width:350px)"/>
                <img src="./img/destop-comment-alexanda-1x.png" alt="person">
                </picture>
                <div class="reviewer-data">
                <h2 class="reviewer-name">Alexandra Dream</h2>
                <p class="reviewer-time">1 week ago</p>
                </div>
            </div>
            <p class="reviewer-comment">I was blown away by the quality and craftsmanship of the furniture I received from this company. Each piece was unique and beautifully designed, and you can tell that a lot of thought and care goes into every detail. </p>
            </li>
            <li class="reviews-list-item">
            <div class="reviewer-container">
                <picture>
                <source srcset="./img/destop-comment-james-1x.png 1x, ./img/destop-comment-james-2x.png 2x" media="(min-width:1350px)"/>
                <source srcset="./img/tablet-comment-james-1x.png 1x, ./img/tablet-comment-james-2x.png 2x" media="(min-width:750px)"/>
                <img src="./img/destop-comment-james-1x.png" alt="person">
                </picture>
                <div class="reviewer-data">
                <h2 class="reviewer-name">James Williams</h2>
                <p class="reviewer-time">A week ago</p>
                </div>
            </div>
            <p class="reviewer-comment">The "Minimal" furniture set is a fantastic addition to my home. It boasts a minimalist design, enhancing the feel and look of my living space. The sturdy construction is worth noting too, which speaks volumes about its durability.</p>
            </li>
            <li class="reviews-list-item">
            <div class="reviewer-container">
                <picture>
                <source srcset="./img/destop-comment-emily-1x.png 1x, ./img/destop-comment-emily-2x.png 2x" media="(min-width:1350px)"/>
                <img src="./img/destop-comment-emily-1x.png" alt="person">
                </picture>
                <div class="reviewer-data">
                <h2 class="reviewer-name">Emily Watson</h2>
                <p class="reviewer-time">3 week ago</p>
                </div>
            </div>
            <p class="reviewer-comment">The "Minimal" furniture set has far exceeded my expectations. The sleek design combined with the high-quality materials have not only added an exceptional aesthetic to my space but also offered an uncompromising standard of comfort.</p>
            </li>
        </ul>
    </div>
</section>