<footer class="footer">
    <div class="container">
        <div class="content-wrap">
       <div class="left-box">
        <a href="#" class="logo">
            <img src="./img/logo.png" alt="logo"/>
        </a>
        <ul class="footer-menu">
            <il class="footer-menu-item">
                <a href="#" class="footer-menu-link">About us</a>
            </il>
             <il class="footer-menu-item">
                <a href="#" class="footer-menu-link">Our products</a>
            </il>
             <il class="footer-menu-item">
                <a href="#" class="footer-menu-link">Prices</a>
            </il>
             <il class="footer-menu-item">
                <a href="#" class="footer-menu-link">Bestellers</a>
            </il>
             <il class="footer-menu-item">
                <a href="#" class="footer-menu-link">Reviews</a>
            </il>
             <il class="footer-menu-item">
                <a href="#" class="footer-menu-link">Contacts</a>
            </il>
        </ul>
        <address class="address">
            <p class="address-text">Obolonsky Prospect, 14, Kyiv</p>
            <p class="address-text">Daily 10:00-21:00</p>
        </address>
        <ul class="contact-list">
            <li class="contact-list-item">
                <a href="tel:+380669384758" class="contact-list-link">380669384758</a>
            </li>
            <li>
                <a href="tel:+380679384758" class="contact-list-link">380679384758</a>
            </li>
            <li>
                <a href="mailto:minimal.furniture@gmail.com" class="contact-list-link">minimal.furniture@gmail.com</a>
            </li>
        </ul>
        </div>
        <div class="right-box">
        <ul class="menu-icon">
            <li class="menu-title-icon">
                <svg class="icon">
                    <use href="./img/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </li>
            <li class="menu-title-icon">
                <svg class="icon">
                    <use href="./img/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </li>
            <li class="menu-title-icon">
                <svg class="icon">
                    <use href="./img/symbol-defs.svg#icon-YouTube"></use>
                </svg>
            </li>
        </ul>
        </div>
        </div>
        <small class="small-text">By using this website, you agree to the Terms of Service and Privacy Policy</small>
    </div>
</footer>