<footer class="footer">
    <div class="container footer-box">
        <div class="content-wrap">
       <div class="left-box">
        <a href="#" class="logo-footer">
            <picture>
            <source srcset="./img/logo-desktop.png 1x" media="(min-width:1350px)"/>
            <source srcset="./img/logo-tablet.png 1x" media="(min-width:750px)"/>
            <source srcset="./img/logo-footer.png 1x" media="(min-width:350px)"/>
            <img src="./img/logo-desktop.png" alt="logo"/>
            </picture>
        </a>
        <ul class="footer-menu">
            <li class="footer-menu-item">
                <a href="#" class="footer-menu-link">About us</a>
            </li>
             <li class="footer-menu-item">
                <a href="#" class="footer-menu-link">Our products</a>
            </li>
             <li class="footer-menu-item">
                <a href="#" class="footer-menu-link">Prices</a>
            </li>
             <li class="footer-menu-item">
                <a href="#" class="footer-menu-link">Bestellers</a>
            </li>
             <li class="footer-menu-item">
                <a href="#" class="footer-menu-link">Reviews</a>
            </li>
        </ul>
        <address class="address">
            <p class="address-text">Obolonsky Prospect, 14, Kyiv</p>
            <p class="address-text">Daily 10:00-21:00</p>
        </address>
        <ul class="contact-list">
            <li class="contact-list-item">
                <a href="tel:+380669384758" class="contact-list-link">+380669384758</a>
            </li>
            <li class="contact-list-item">
                <a href="tel:+380679384758" class="contact-list-link">+380679384758</a>
            </li>
            <li class="contact-list-item">
                <a href="mailto:minimal.furniture@gmail.com" class="contact-list-link">minimal.furniture@gmail.com</a>
            </li>
        </ul>
        </div>
        <div class="right-box">
        <ul class="menu-icon">
            <li class="menu-title-icon">
                <svg class="icon">
                    <use href="./img/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </li>
            <li class="menu-title-icon">
                <svg class="icon">
                    <use href="./img/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </li>
            <li class="menu-title-icon">
                <svg class="icon">
                    <use href="./img/symbol-defs.svg#icon-YouTube"></use>
                </svg>
            </li>
        </ul>
        </div>
        </div>
        <small class="small-text">By using this website, you agree to the &nbsp; <a class="terms-link">Terms of Service</a>&nbsp; and &nbsp; <a class="privacy">Privacy Policy</a></small>
    </div>
</footer>
