<header class="header">
    <div class="container header-position">
        <a href="#" class="logo">
            <img src="./img/logo.png" alt="logo"/>
        </a>
        <nav class="nav">
        <ul class="menu">
            <il class="menu-title">
                <a href="#" class="menu-link">About us</a>
            </il>
             <il class="menu-title">
                <a href="#" class="menu-link">Our products</a>
            </il>
             <il class="menu-title">
                <a href="#" class="menu-link">Prices</a>
            </il>
             <il class="menu-title">
                <a href="#" class="menu-link">Bestellers</a>
            </il>
             <il class="menu-title">
                <a href="#" class="menu-link">Reviews</a>
            </il>
             <il class="menu-title">
                <a href="#" class="menu-link">Contacts</a>
            </il>
        </ul>
        </nav>
        <button class="burger-btn" type="button">
        <img src="./img/burger-menu.svg" alt="menu">
        </button>
    </div>
</header>