 <div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <div class="header-mob">
            <a class="mob-menu-logo">
                <img src="./img/logo.png" alt="logo">
            </a>
            <button type="button" class="close-btn" data-modal-close>
                <img src="./img/close.svg" alt="close button">
            </button>
        </div>
        <nav class="mob-menu-nav">
            <ul class="mob-menu">
                <li class="mob-menu-item">
                    <a class="mob-menu-link">About us</a>
                </li>
                <li class="mob-menu-item">
                    <a class="mob-menu-link">Our products</a>
                </li>
                <li class="mob-menu-item">
                    <a class="mob-menu-link">Prices</a>
                </li>
                <li class="mob-menu-item">
                    <a class="mob-menu-link">Bestsellers</a>
                </li>
                <li class="mob-menu-item">
                    <a class="mob-menu-link">Reviews</a>
                </li>
                <li class="mob-menu-item">
                    <a class="mob-menu-link">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
 </div>