<section class="newsletter">
    <div class="container newsletter-box">
        <div class="newsletter-content">
            <h2 class="newsletter-content-item">Newsletter</h2>
            <p class="newsletter-content-text">Every week we will send you new designs and information about sales.</p>
            <form class="form">
                <label class="form-label">
                    <input type="text" placeholder="Name" class="form-input">
                </label>
                <label class="form-label">
                    <input type="email" placeholder="Email" class="form-input">
                </label>
                <label class="form-label">
                    <input type="checkbox" class="form-checkbox">
                    Agree to subscribe to the newsletter
                </label>
                <button type="submit" class="form-button">Send</button>
            </form>
        </div>
        <div class="newsletter-img">
            <picture>
                <source srcset="./img/destop-book-1x.jpg 1x, ./img/destop-book-2x.jpg 2x" media="(min-width:1320px)"/>
            <source srcset="./img/tablet-book-1x.jpg 1x, ./img/tablet-book-2x.jpg 2x" media="(min-width:700px)"/>
            <source srcset="./img/phone-book-1x.jpg 1x, ./img/phone-book-2x.jpg 2x" media="(min-width:340px)"/>
                <img src="./img/destop-book-1x.jpg" alt="book">
            </picture>
        </div>
    </div>
</section>