<section class="product">
    <div class="container">
        <h2 class="section-name">Our products</h2>
        <ul class="menu-produckt">
            <li class="menu-produckt-item">
                <picture>
                    <source srcset="../img/destop-stone-1x.jpg 1x, ../img/destop-stone-2x.jpg 2x" media="(min-width:1320px)"/>
                    <source srcset="../img/tablet-stone-1x.jpg 1x, ../img/tablet-stone-2x.jpg 2x" media="(min-width:700px)"/>
                    <source srcset="../img/phone-stone-1x.jpg 1x, ../img/phone-stone-2x.jpg 2x" media="(min-width:340px)"/>
                    <img src="../img/desktop-stone-1x.jpg" alt="stone">
                </picture>
                
                <p class="menu-produckt-text">Minimalist storage solutions</p>
            </li>
            <li class="menu-produckt-item">
                <picture>
                    <source srcset="../img/destop-blue-sofa-1x.jpg 1x, ../img/destop-blue-sofa-2x.jpg 2x" media="(min-width:1320px)"/>
                    <source srcset="../img/tablet-blue-sofa-1x.jpg 1x, ../img/tablet-blue-sofa-2x.jpg 2x" media="(min-width:700px)"/>
                    <img src="../img/destop-blue-sofa-1x.jpg" alt="sofa">
                </picture>
                
                <p class="menu-produckt-text">Handcrafted minimalist seating</p>
            </li>
            <li class="menu-produckt-item">
                <picture>
                    <source srcset="../img/destop-table-1x.jpg 1x, ../img/destop-table-2x.jpg 2x" media="(min-width:1320px)"/>
                    <img src="../img/destop-table-1x.jpg" alt="table">
                </picture>
                
                <p class="menu-produckt-text">Sleek and simple tables</p>
            </li>
            <li class="menu-produckt-item">
                <picture>
                    <source srcset="../img/destop-shelf-1x.jpg 1x, ../img/destop-shelf-2x.jpg 2x" media="(min-width:1320px)"/>
                    <img src="../img/destop-shelf-1x.jpg" alt="shelf">
                </picture>
            
                <p class="menu-produckt-text">Minimalist seating for every space</p>
            </li>
        </ul>
    </div>
</section>