.bestsellers{
    padding-top: 64px;
    padding-bottom: 64px;

    @media screen and (min-width:750px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.section-name{
    margin-bottom: 30px;
}
.bestsellers-box{

    @media screen and (min-width:1350px) {
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    
}
.pictures-box{
    padding-bottom: 30px;
}

.pictures-text{
    margin-top: 14px;
    margin-bottom: 10px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.50;
color: var(--blue-font);

@media screen and (min-width:750px) {
    font-size: 18px;
    margin-top: 15px;
}

}
.price{
    font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 1.50;
color: var(--blue-font);

@media screen and (min-width:750px) {
    font-size: 18px;
}
}

.price-list{
    @media screen and (min-width:750px) {
        display: flex;
        flex-basis: calc((100% -  20px) / 2);
        column-gap: 20px;
        row-gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.price-list-item:nth-child(1){
    padding-bottom: 30px;

    @media screen and (min-width:750px) {
        padding-bottom: 0;
    }
}
.price-list-item:nth-child(1),
.price-list-item:nth-child(2){
    display: block;
}
.price-list-item:nth-child(3),
.price-list-item:nth-child(4){
    display: none;
    @media screen and (min-width:750px) {
        display: block;
    }
}