.bestsellers{
    padding-top: 64px;
}
.pictures-box{
    
}
.pictures-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.50;
color: var(--blue-font);

@media screen and (min-width:750px) {
    font-size: 18px;
}
}
.preis{
    font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 1.50;
color: var(--blue-font);

@media screen and (min-width:750px) {
    font-size: 18px;
}
}
.price-list{
    @media screen and (min-width:1350px) {
        flex-basis: calc((50% - 20px) /2);
    }
}

.price-list-item:nth-child(1),
.price-list-item:nth-child(2){
    display: block;

    @media screen  {
        
    }
}
.price-list-item:nth-child(3),
.price-list-item:nth-child(4){
    display: none;
    @media screen and (min-width:750px) {
        display: block;
    }
}