.footer-box {
  padding-top: 64px;
  padding-bottom: 16px;
  background: var(--blue-font);


  @media screen and (min-width:750px) {
    padding-top: 48px;
    padding-bottom: 36px;
  }
  @media screen and (min-width:1350px) {
    padding-top: 86px;
  }
}
.content-wrap {
    display: flex;
}
.left-box{
  @media screen and (min-width:750px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 98px;
    width: 488px;
  }

  @media screen and (min-width:1350px) {
    width: 1200px;
    column-gap: 1013px;
    width: 900px;
  }
}
.logo-footer{
    width: 100px;

    @media screen and (min-width:750px) {
        width: 128px;
    }
}
.footer-menu{
    margin-top: 36px;

    @media screen and (min-width:750px) {
        flex-basis: 25%;
        order: 1;
        margin-top: 0;
    }

    @media screen and (min-width:1350px) {
        /* display: flex; */
    }
}
.footer-menu-item{
    padding-bottom: 8px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.50;
color: var(--white);
 @media screen and (min-width:750px) {
    font-size: 18px;
 }
}

.address{
    margin-top: 36px;

    @media screen and (min-width:750px) {
        margin-top: -130px;
        margin-bottom: 64px;
        order: 2;
    }

    @media screen and (min-width:1350px) {
        margin-top: 0;
    }
}
.address-text{
    padding-bottom: 8px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.01em;
color: var(--white);
font-style: normal;

 @media screen and (min-width:750px) {
    font-size: 19px;
 }
}

.contact-list{
    margin-top: 35px;
    margin-bottom: 64px;

    @media screen and (min-width:750px) {
        order: 3;
        margin-top: -20px;
    }
}
.contact-list-item{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.01em;
color: var(--white);
padding-bottom: 8px;

 @media screen and (min-width:750px) {
    font-size: 19px;
 }
}
.contact-list-item:nth-child(2){
    padding-bottom: 24px;
}
.contact-list-item:nth-child(3){
    display: none;

    @media screen and (min-width:750px) {
        display: block;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 19px;
        letter-spacing: 0.01em;
        color: var(--white);
    }
}
.right-box{
    width: 152px;
}
.menu-icon{
    display: flex;
    column-gap: 16px;
    align-items: start;

}
.icon{
    width: 28px;
    height: 28px;
    fill:  #fff;

    @media screen and (min-width:750px) {
        width: 40px;
        width: 40px;
    }
}

.small-text{

    font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.1em;
text-align: center;
color: var(--white);
opacity: 0.6;

 @media screen and (min-width:750px) {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.07em;
 }
}

