.footer-box {
  padding-top: 64px;
  padding-bottom: 16px;
  background: var(--blue-font);

  @media screen and (min-width:750px) {
    padding-top: 100px;
    padding-bottom: 36px;
  }
  @media screen and (min-width:1350px) {
    padding-top: 86px;
  }
}
.content-wrap {
    display: flex;
    /* column-gap: 18px; */
}
.left-box{

}
.logo-footer{
    width: 100px;

    @media screen and (min-width:750px) {
        width: 128px;
    }
}
.footer-menu{
    margin-top: 36px;
}
.footer-menu-item{
    padding-bottom: 8px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.50;
color: var(--white);
}

.address{
    margin-top: 36px;
}
.address-text{
    padding-bottom: 8px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.01em;
color: var(--white);
}

.contact-list{
    margin-top: 35px;
    margin-bottom: 64px;
}
.contact-list-item{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.01em;
color: var(--white);
padding-bottom: 8px;
}
.contact-list-item:nth-child(3){
    display: none;

    @media screen and (min-width:750px) {
        display: block;
    }
}

.menu-icon{
    display: flex;
    column-gap: 16px;
    align-items: start;

}
.icon{
    width: 28px;
    height: 28px;
    fill:  #fff;

    @media screen and (min-width:750px) {
        width: 40px;
        width: 40px;
    }
}

.small-text{

    font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.1em;
text-align: center;
color: var(--white);
}