.catalog {
  padding-top: 64px;

  @media screen and (min-width: 750px) {
    padding-top: 100px;
  }
}
.catalog-title {
  display: none;
}
.catalog-list {
  @media screen and (min-width: 1350px) {
    width: 1096px;
    margin: 0 auto;
  }
}
.catalog-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--blue-font);
}
.catalog-list-item:nth-child(1) {
  border-top: 1px solid var(--blue-font);
}
.catalog-list-title {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  font-size: 28px;
  text-transform: uppercase;
  color: var(--blue-font);

  @media screen and (min-width: 730px) {
    font-size: 32px;
    line-height: 1.41;
  }
}
.catalog-list-title:hover::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 3px;
  margin-right: 18px;

  background-color: var(--blue-font);
}
.catalog-list-text {
  font-weight: 700;
  text-align: right;
  color: var(--blue-font);

  @media screen and (min-width: 730px) {
    font-size: 18px;
  }
}
