/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
/* @import url('./vite-promo.css'); */
@import url(./container.css);
@import url(./header.css);
@import url(./hero-section.css);
@import url(./menu.css);
@import url(./product.css);
@import url(./about.css);
@import url(./bestsellers.css);
@import url(./clients.css);
@import url(./newsletter.css);
@import url(./footer.css);

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
:root{
  
	--light-blue: #f7faff;
	--blue-font: #0a224a;
	--white: #fff;
	--grey: #d9d9d9;
	--dark-grey: #b6b6b6;

  --font-family: "Roboto", sans-serif;
  --second-family: "Playfair Display", sans-serif;

}